$colorfondo: #80FF84;
$colorfondocontraste: #5DBA60;
$colorTexto: #730073;
$colorTextoHeader: #260026;
$colorTextoHeaderHover: #730073;
$colorTextoHeaderActive: #c404c4;
$colorTituloCard: #ffffff;
$colorBordeInputContacto: #365637;
$letraGruesa: 700;
$letraMedia: 600;
$letraNormal: 400;
$tamañoTextoNormal: 1.2rem;
$tamañoTextoNavbar: 1.4rem;
$tamañoTextoCard: 1.4rem;
$tamañoTextoTitulo: 2.6rem;
$tamañoTextoSubtitulo: 2rem;
$tamañoTextoh1desktop: 4rem;
$tamañoTextoNavbardesktop: 2rem;
$tamañoTextoFooter: 0.8rem;
$gapPequeño: 0.5rem;
$gapMediano: 1rem;
$gapform: 0.3rem;
$rowgapNormal: 2rem;
$rowgapdesktop: 3rem;
