@use "../utilities/variables" as *;
@use "../base/tipografia" as *;

.card {
    background-color: $colorfondocontraste;
    max-width: 600px;
    justify-content: center;
    margin: 0rem auto;
}
.card-title {
    font-family: $tipografiaPrincipal;
    color: $colorTituloCard;
    text-decoration: none;
    font-weight: $letraNormal;
    font-size: $tamañoTextoCard;
}